# Copy this file to ".env.dev" and tweak values for local development
FREQUENCY_URL=ws://0.0.0.0:9944
PROVIDER_ID=1
PROVIDER_BASE_URL=https://some-provider
REDIS_URL=redis://0.0.0.0:6379
PROVIDER_USER_GRAPH_ENDPOINT=user-graph
PROVIDER_ACCESS_TOKEN=some-token
